body {
    background: #eeeeee;
    /*margin: 1em;*/
    text-align: center;
    font-family: system-ui, sans-serif;
    height: 100%;
}

#title {
    font-size: 4em;
}
#version{
    font-size: .5em;
}

#uptime, #aprsis {
    font-size: 1em;
}
#callsign {
    font-size: 1.4em;
    color: #00F;
    padding-top: 8px;
    margin:10px;
}

#title_rx {
    background-color: darkseagreen;
    text-align: left;
}

#title_tx {
    background-color: lightcoral;
    text-align: left;
}

.aprsd_1 {
    background-image: url(/static/images/aprs-symbols-16-0.png);
    background-repeat: no-repeat;
    background-position: -160px -48px;
    width: 16px;
    height: 16px;
}

.wc-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.wc-container .wc-row {
  padding: 2px;
}
.wc-container .wc-row.header {
  flex: 0 1 auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.wc-container .wc-row.info {
  flex: 1 1 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.wc-container .wc-row.content {
  flex: 1 1 auto;
  overflow-y: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 100%;
}
.wc-container .wc-row.prefooter {
  flex: 0 1 auto;
  height: 20px;
}
.wc-container .wc-row.footer {
  flex: 0 1 0px;
  height: 25px;
}

.material-symbols-rounded.md-10 {
  font-size: 18px !important;
}
