<html>
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <script src="/static/js/upstream/jquery-3.7.1.min.js"></script>
    <script src="/static/js/upstream/jquery.toast.js"></script>
    <script src="/static/js/upstream/socket.io.min.js"></script>

    <link rel="stylesheet" href="/static/css/upstream/bootstrap.min.css">
    <script defer src="/static/js/upstream/bootstrap.bundle.min.js"></script>

<!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    -->

    <!--
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
     -->

    <link rel="stylesheet" href="/static/css/upstream/google-fonts.css">
    <link rel="stylesheet" href="/static/css/upstream/jquery.toast.css">

    <link rel="stylesheet" href="/static/css/chat.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/tabs.css">
    <script src="/static/js/main.js"></script>
    <script src="/static/js/gps.js"></script>
    <script src="/static/js/send-message.js"></script>

    <script type="text/javascript">
        var initial_stats = {{ initial_stats|tojson|safe }};
        var latitude = parseFloat('{{ latitude|safe }}');
        var longitude = parseFloat('{{ longitude|safe }}');
        // 0 is disabled, 1 is manual enabled, 2 is interval beaconing and 3 is smart beaconing.
        var beaconing_setting = 0;
        var memory_chart = null;
        var message_chart = null;

        var beaconing_settings = [
            { value: 0, description: 'Disabled' },
            { value: 1, description: 'Manual Enabled' },
            { value: 2, description: 'Interval Beaconing every 1800 seconds' },
            { value: 3, description: 'Smart Beaconing' },
        ];
        var beaconing_type = [
            { value: 'none', description: 'Manual' },
            { value: 'interval', description: 'Interval' },
            { value: 'smart', description: 'Smart' },
        ];

        function set_beaconing_setting(value) {
            console.log("setting beaconing setting to", value);
            $('#beaconing_setting').val(value);
            $('#beaconing_setting_description').text(beaconing_settings[value].description);
            $('#interval_beaconing_status').text(beaconing_settings[value].description == 'Interval Beaconing' ? 'enabled' : 'disabled');
            $('#interval_beaconing_time_window').text(beaconing_settings[value].description == 'Interval Beaconing' ? '1800 seconds' : 'not set');
            //if the beacon settings is set to manual enabled, enable the send beacon button.
            if (value == 1) {
                $('#send_beacon').prop('disabled', false);
            } else {
                $('#send_beacon').prop('disabled', true);
            }

            // if the beaconing setting is set to interval, enable the beacon interval.
            if (value == 2) {
                $('#beacon_interval_label').show();
                $('#beacon_interval').show();
            } else {
                $('#beacon_interval_label').hide();
                $('#beacon_interval').hide();
            }

            // if the beaconing setting is set to smart, enable the smart beaconing distance threshold.
            if (value == 3) {
                $('#smart_beacon_time_window_label').show();
                $('#smart_beacon_time_window').show();
                $('#smart_beacon_distance_threshold_label').show();
                $('#smart_beacon_distance_threshold').show();
            } else {
                $('#smart_beacon_distance_threshold_label').hide();
                $('#smart_beacon_distance_threshold').hide();
                $('#smart_beacon_time_window_label').hide();
                $('#smart_beacon_time_window').hide();
            }
        }

        $(document).ready(function() {
            //console.log(initial_stats);
            start_update();
            init_chat();
            //reset_Tabs();
            // Have to call it in init_chat() because the socketio connection is not established yet.
            //init_gps();

            $("#wipe_local").click(function() {
                console.log('Wipe local storage');
                localStorage.clear();
            });

            //Now send a message back to the server when the user changes the beaconing setting.
            $('#save_beacon_settings').click(function() {
                beacon_type = $('#beaconing_setting').val();
                gps_settings = {
                    'beacon_type': beacon_type,
                    'beacon_interval': $('#beacon_interval').val(),
                    'smart_beacon_distance_threshold': $('#smart_beacon_distance_threshold').val(),
                    'smart_beacon_time_window': $('#smart_beacon_time_window').val(),
                }
                console.log("Sending beaconing settings to server", gps_settings);
                socket.emit('set_beaconing_setting', gps_settings);
                $.toast({heading: 'Beaconing Settings Saved',
                        text: "Beaconing settings saved",
                        loader: true,
                        loaderBg: '#9EC600',
                        position: 'top-center',
                });
            });

            // When a tab is clicked, populate the to_call form field.
            $(document).on('shown.bs.tab', 'button[data-bs-toggle="tab"]', function (e) {
                var tab = $(e.target);
                var callsign = tab.attr("callsign");
                var to_call = $('#to_call');
                to_call.val(callsign);
                selected_tab_callsign = callsign;
            });

            /*$('[data-bs-toggle="popover"]').popover(
                {html: true, animation: true}
            );*/
            reload_popovers();

            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            })
        });
    </script>
</head>

<body>
    <div class="wc-container">
        <div class="wc-row header">
            <div class="container-sm">
                <div class="row">
                    <div class="column">
                        <h2>APRSD WebChat <span style='color: green;font-size:.5em'>{{ version }}</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <span style='color: green'>{{ callsign }}</span>
                        connected to
                        <span style='color: blue' id='aprs_connection'>{{ aprs_connection|safe }}</span>
                        <span id='uptime'>NONE</span>
                    </div>
                </div>
                <div class="row">
                    <form class="row gx-1 gy-1 justify-content-center align-items-center" id="sendform" name="sendmsg" action="" autocomplete="off">
                        <div class="col-sm-2" style="width:150px;">
                            <label for="to_call" class="visually-hidden">Callsign</label>
                            <input type="search" class="form-control mb-2 mr-sm-2" name="to_call" id="to_call" placeholder="To Callsign" size="11" maxlength="9">
                        </div>
                        <div class="col-auto">
                            <label for="pkt_path" class="visually-hidden">PATH</label>
                            <select class="form-control mb-2 mr-sm-2" name="pkt_path" id="pkt_path" style="width:auto;">
                                <option value="" disabled selected>Default Path</option>
                                <option value="WIDE1-1">WIDE1-1</option>
                                <option value="WIDE1-1,WIDE2-1">WIDE1-1,WIDE2-1</option>
                                <option value="ARISS">ARISS</option>
                                <option value="GATE">GATE</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="message" class="visually-hidden">Message</label>
                            <input type="search" class="form-control mb-2 mr-sm-2" name="message" id="message" size="40" maxlength="67" placeholder="Message">
                        </div>
                        <div class="col-auto">
                            <input type="submit" name="submit" class="btn btn-primary mb-2" id="send_msg" value="Send"/>
                            <!-- <button type="button" class="btn btn-primary mb-2" id="wipe_local" value="wipe local storage">Wipe LocalStorage</button> -->
                            <a class="btn btn-secondary mb-2" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">GPS&nbsp;&nbsp;
                                <img src="/static/images/satellite-solid.svg" alt="GPS Icon" style="width: 25px; height: 25px; float: right" id="gps_icon">
                                <img src="/static/images/radio-tower.svg" alt="Radio Icon" style="width: 25px; height: 25px; float: right; color: red;" id="radio_icon">
                            </a>
                        </div>
                        <div class="collapse" id="collapseExample" style="width: 800px">
                            <div class="card">
                                <div class="card-body">
                                    <label for="range3" class="form-label">Beaconing Setting: <span id="beaconing_setting_description"></span></label>
                                    <input type="range" class="form-range" min="0" max="3" step="1" id="beaconing_setting">
                                    <script>
                                        // Beaconing settings are 0 = disabled, 1 = manual enabled, 2 = interval beaconing and 3 = smart beaconing.
                                        // Set the initial value of the beaconing setting to the initial value of the beaconing setting in the initial stats.
                                        console.log("beaconing_setting", beaconing_setting);

                                        $('#beaconing_setting').on('input', function() {
                                            var value = $(this).val();
                                            set_beaconing_setting(value);
                                        });
                                    </script>
                                    <!--
                                    add the html input for the interval beaconing, but disable it unless the beaconing setting is set to interval.
                                    Also add the html input for the smart beaconing, but disable it unless the beaconing setting is set to smart.
                                    make the beaconing interval input hidden unless the beaconing setting is set to interval.
                                    -->
                                    <label for="beacon_interval" id="beacon_interval_label" class="form-label" style="display: none;">Beacon Interval in seconds</label>
                                    <input type="number" class="form-control" id="beacon_interval" placeholder="Beacon Interval" style="display: none;" value="{{ initial_stats.stats.gps.gps_extension.beacon_interval|default(1800) }}">
                                    <label for="smart_beacon_time_window" id="smart_beacon_time_window_label" class="form-label" style="display: none;">Interval Beaconing Time Window in seconds</label>
                                    <input type="number" class="form-control" id="smart_beacon_time_window" placeholder="Interval Beaconing Time Window" style="display: none;">
                                    <label for="smart_beacon_distance_threshold" id="smart_beacon_distance_threshold_label" class="form-label" style="display: none;">Smart Beaconing Distance Threshold</label>
                                    <input type="number" class="form-control" id="smart_beacon_distance_threshold" placeholder="Smart Beaconing Distance Threshold" style="display: none;">
                                    <br><br>
                                    <button type="button" class="btn btn-primary mb-2" id="send_beacon" value="Send Beacon">Send Beacon</button>
                                    <button type="button" class="btn btn-secondary mb-2" id="save_beacon_settings" value="Save">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="container-sm" style="max-width: 800px">
                <ul class="nav nav-tabs" id="msgsTabList" role="tablist"></ul>
            </div>
        </div>
        <div class="wc-row content" id="wc-content">
            <div class="container" style="max-width: 800px;">
                <div class="tab-content" id="msgsTabContent">
                </div>
            </div>
        </div>
        <div class="wc-row content prefooter">
            <div class="container-sm" style="max-width: 800px; padding-top: 0px;margin-top: 0px;margin-bottom: 0px">
                <span class="material-symbols-rounded md-10">thumb_down</span><span style="font-size: 10px"> - Message Not Acknowledged&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="material-symbols-rounded md-10">thumb_up</span><span style="font-size: 10px"> - Message Acknowledged</span>
            </div>
        </div>
        <div class="wc-row footer">
            <div class="container-sm" style="padding-top: 0px;margin-top: 0px">
                <a href="https://badge.fury.io/py/aprsd"><img src="https://img.shields.io/badge/aprsd-{{aprsd_version}}-darkgreen" alt="APRSD version" height="18"></a>
                <a href="https://badge.fury.io/py/aprsd-webchat-extension"><img src="https://img.shields.io/badge/aprsd_webchat_extension-{{version}}-darkgreen" alt="APRSD version" height="18"></a>
                <a href="https://github.com/hemna/aprsd-webchat-extension"><img src="https://img.shields.io/badge/Made%20with-Python-1f425f.svg" height="18"></a>
            </div>
        </div>
    </div>
</body>
</html>
